<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>footer</title>
  <link rel="stylesheet" href="../../static/css/footer.css">
</head>
<body>
  <footer>
    <section>
      <div id="first-section">
        <div>
          <span>© 2024 AMBIENT 이용약관</span>
          <span>개인정보 보호 정책</span>
        </div>
      </div>
      <div id="second-section">
        <span>AMBIENT CO.LTD.</span>
        <span>Customer Center : 1670-0133</span>
        <span>Mon - Fri 10:00-18:00 (Lunch 11:30-12:30)</span>
        <span>15F Seoulsup A-Tower, 26 Sangwon 1Gil, Seongdong-Gu, Seoul license : 217-86-00349, 2016-Seoul Seongdong-00425</span>
        <span>cs@insilence.co.kr</span>
      </div>
    </section>
  </footer>
</body>
</html>