<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <link rel="stylesheet" href="../../static/css/header.css">

</head>
<body>
  <header>
    <section>
      <div id="product-nav-button">
        <ul>
          <li>
            <a href="">남성복</a>
          </li>
          <li>
            <a href="">여성복</a>
          </li>
          <li>
            <a href="">SALE</a>
          </li>
          <li>
            <a href="">검색</a>
          </li>
        </ul>
      </div>
      <div id="logo-section">
        <div>
          <a href="">
            <img src="https://insilence.co.kr/img/logo_black.png" alt="">
          </a>
        </div>
      </div>
      <div id="my-info-nav-button">
        <ul>
          <li>
            <a href="">고객센터</a>
          </li>
          <li>
            <a href="">계정</a>
          </li>
          <li>
            <a href="">쇼핑백</a>
          </li>
        </ul>
      </div>
    </section>
  </header>
</body>
</html>