*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 1400px;
    margin: 0 auto;
    display: flex;
}

#product-left-section{
    margin-right: 40px;
}

#grid-section{
    display: grid;
    grid-template-columns: repeat(2, 430px);
}

#grid-section > div{
    width: 100%;
    padding: 3px 5px;
}

#grid-section > div > img{
    width: 100%;
}
