<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>product</title>
    <link rel="stylesheet" href="../static/css/product.css">
</head>
<body>
  <main>
    <section id="product-left-section">
      <div id="grid-section">
        <div>
          <img src="https://ambient.diskn.com/detailimg/24FW/MEN/jacket/IM2D4JK11/camel/MEN-%201888.jpg" alt="">
        </div>
        <div>
          <img src="https://ambient.diskn.com/detailimg/24FW/MEN/jacket/IM2D4JK11/camel/MEN-%201888.jpg" alt="">
        </div>
        <div>
          <img src="https://ambient.diskn.com/detailimg/24FW/MEN/jacket/IM2D4JK11/camel/MEN-%201888.jpg" alt="">
        </div>
        <div>
          <img src="https://ambient.diskn.com/detailimg/24FW/MEN/jacket/IM2D4JK11/camel/MEN-%201888.jpg" alt="">
        </div>
        <div>
          <img src="https://ambient.diskn.com/detailimg/24FW/MEN/jacket/IM2D4JK11/camel/MEN-%201888.jpg" alt="">
        </div>
        <div>
          <img src="https://ambient.diskn.com/detailimg/24FW/MEN/jacket/IM2D4JK11/camel/MEN-%201888.jpg" alt="">
        </div>
        <div>
          <img src="https://ambient.diskn.com/detailimg/24FW/MEN/jacket/IM2D4JK11/camel/MEN-%201888.jpg" alt="">
        </div>
        <div>
          <img src="https://ambient.diskn.com/detailimg/24FW/MEN/jacket/IM2D4JK11/camel/MEN-%201888.jpg" alt="">
        </div>
        <div>
          <img src="https://ambient.diskn.com/detailimg/24FW/MEN/jacket/IM2D4JK11/camel/MEN-%201888.jpg" alt="">
        </div>
        <div>
          <img src="https://ambient.diskn.com/detailimg/24FW/MEN/jacket/IM2D4JK11/camel/MEN-%201888.jpg" alt="">
        </div>
        <div>
          <img src="https://ambient.diskn.com/detailimg/24FW/MEN/jacket/IM2D4JK11/camel/MEN-%201888.jpg" alt="">
        </div>
        <div>
          <img src="https://ambient.diskn.com/detailimg/24FW/MEN/jacket/IM2D4JK11/camel/MEN-%201888.jpg" alt="">
        </div>
      </div>
    </section>
    <section>
      <div>
        <section>
          <div>
            <strong>헤어리 울 집업 자켓 CAMEL</strong>
            <strike>KRW 299,000</strike>
            <div>
              <strong>KRW 269,000</strong>
              <span>10%</span>
            </div>
          </div>
          <div>
            <div>
              <p>― 헤어리한 표면감과 멜란지 컬러감이 돋보이는 울 혼방 소재 사용</p>
              <p>― 세미 오버사이즈 실루엣</p>
              <p>― 스탠다드 칼라</p>
              <p>― 히든 YKK 2WAY 지퍼</p>
              <p>― 지퍼 여밈 포켓 </p>
              <p>― 사이즈 조절이 가능한 소매 커프스 디테일</p>
              <p>― 소뿔 단추</p>
              <p>&nbsp;</p>
              <p>* 제품 사진이 실제 컬러와 유사하며, 모니터 해상도 및 디바이스에 따라 보이는 컬러는 다소 차이가 있을 수 있습니다.</p>
              <br>
              <p style="color:darkgrey;">
                <strong>PICCHI</strong><br>
                1946년에 설립된 이탈리아의 대표적인 원단 회사로, 직물 산업의 중심지인 프라토에서 시작되었습니다.<br>
                전통적인 섬유 제조 기술과 현대적인 디자인을 결합해 고품질의 원단을 생산하며 특히 고급 울, 캐시미어, 리넨과 같은 천연 섬유를 사용한 제품으로 잘 알려져 있습니다.<br>
                오랜 역사와 함께 기술적 혁신과 지속 가능한 생산 방식으로 세계적인 명성을 얻고 있습니다.<br>
              </p>
            </div>
          </div>
        </section>
        <section>
          <span>SIZE</span>
          <div>
            <button>S</button>
            <button>M</button>
            <button>L</button>
          </div>
        </section>
        <section>
          <span>Color</span>
          <div>
            <ul>
              <li></li>
              <li></li>
            </ul>
            <span>CAMEL</span>
          </div>
        </section>
        <section>
          <div>
            <button>구매하기</button>
          </div>
          <div>
            <button>네이버 페이</button>
          </div>
          <div>
            <button>상품 문의하기</button>
            <button>장바구니 담기</button>
          </div>
        </section>
      </div>
    </section>
  </main>
</body>
</html>